// --- Bootstrap --- //

// Configuration.
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// Layout & components (partial).
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';

// Helpers.
@import 'bootstrap/scss/helpers';

// Utilities.
@import 'bootstrap/scss/utilities/api';

// --- Custom styles --- //

body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

.absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bg-gray-200 {
  background-color: $gray-200;
}

.bg-split {
  background: linear-gradient(90deg, #ddd 0%, #fff 50%, #ddd 50%, #fff 100%);
}

.clickable {
  cursor: pointer;
}

.flex-1 {
  flex: 1;
}

.fs-lg-1 {
  font-size: 1.1em;
}

.fs-lg-2 {
  font-size: 1.2em;
}

.fs-sm-1 {
  font-size: 0.9em;
}

.fs-sm-2 {
  font-size: 0.8em;
}

.outline-0 {
  outline: 0 none;
}

.text-shadow-dark {
  text-shadow: 1px 1px 3px $dark, 1px -1px 3px $dark, -1px 1px 3px $dark, -1px -1px 3px $dark;
}

.text-shadow-light {
  text-shadow: 1px 1px 2px $light, 1px -1px 2px $light, -1px 1px 2px $light, -1px -1px 2px $light;
}
