// --- Bootstrap --- //

// Configuration.
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// Layout & components (partial).
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';

// Helpers.
@import 'bootstrap/scss/helpers';

// Utilities.
@import 'bootstrap/scss/utilities/api';

// --- Custom styles --- //

body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-gray-200 {
  background-color: $gray-200;
}

// CAVEAT: The gradient uses a logarithmic scale due to breakpoints (3 and 4.5) being way smaller than max value (21).
.bg-ratio-bar {
  background: linear-gradient(90deg, #f00 0%, #ff0 35%, #0f0 49%, #080 100%);
}

.bg-split {
  background: linear-gradient(90deg, #ddd 0%, #fff 50%, #ddd 50%, #fff 100%);
}

.border-gray-300 {
  border-color: $gray-300 !important;
}

.border-collapse {
  border-collapse: collapse;
}

.clickable {
  cursor: pointer;
}

.flex-1 {
  flex: 1;
}

.fs-lg-1 {
  font-size: 1.1em;
}

.fs-lg-2 {
  font-size: 1.2em;
}

.fs-sm-1 {
  font-size: 0.9em;
}

.fs-sm-2 {
  font-size: 0.8em;
}

.min-w-80px {
  min-width: 80px;
}

.outline-0 {
  outline: 0 none;
}

.size-30 {
  height: 30px;
  width: 30px;
}

.triangle-down-8px {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
}
